

{% extends 'baseApp.html' %}
{% load static %}


{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/img/gestion_estudiante.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Gestión de Estudiantes</span>
            <span class="section-heading-lower">Información Estadística</span>
          </h2>
          <p class="mb-3">Un registro estadístico de Estudiantes de la Unidades Educativas participantes.
          </p>
         
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static '/img/gestion_cartera.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Cartera</span>
            <span class="section-heading-lower">Antiguedad de Cartera</span>
          </h2>
          <p class="mb-3">Reporte cronológico de la distribución de pago de pensiones de su Unidad Educativa.
          </p>
         
        </div>
      </div>
    </div>
  </section>
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Con más de 10 años de experiencia a nuestras espaldas, desde Gestión de UE tenemos la información y herramientas necesarios para llevar  a cabo la toma de decisiones de su Unidad Educativa.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}