<html>
<head>
    <title> Ingreso de Unidades Educativas </title>
</head>

<body>
    <form name=IngresoUE accept-charset=utf-8 action="datosue/" method="POST">
        Unidad Educativa:  
        <input type="text" name="nombreue"> <br>
        RUC:
        <input type="text" name="rucue"> <br>
        Dirección:
        <input type="text" name="direccionue"> <br>
        Correo Electrónico:
        <input type="text" name="emailue"> <br>
        Teléfono
        <input type="text" name="telefonoue"> <br>

        <br>

        <input type="submit" value="Guardar">
    
    </form>




</body>

</html>